# Dependabot will run on day 5 of each month at 03:34 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "34 3 5 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Author"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "34 3 5 * *"
    open-pull-requests-limit: 15
    assignees:
      - "Author"
